@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projektituntiseuranta</h1>
    <p class="lead">Ohjelmointiharjoitus SQL-tietokantayhteydellä</p>
    <p><a href="http://localhost:62543/henkilo/Index" class="btn btn-info btn-lg">Henkilöt &raquo;</a></p>
    <p><a href="http://localhost:62543/projekti/Index" class="btn btn-success btn-lg">Projektit &raquo;</a></p>
    <p><a href="http://localhost:62543/tunnit/Index" class="btn btn-primary btn-lg">Tunnit &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
       </p>
        <p><a></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a></a></p>
    </div>
</div>